.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: #4A4A4A;
  border-radius: 5px;
  padding: 3vmin;
  box-shadow: 1vmin 1vmin 20px rgba(0, 0, 0, .2);
  margin-left: 7vmin;
  margin-right: 7vmin;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  max-width: 60vmin;
}

.linkStyle:hover {
  text-decoration: none;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vmin;
}

.dateAndAuthorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid #4A4A4A;
  margin-bottom: 2vmin;
}

.imageAndDescriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.titleText {
  font-size: 3vmin;
  font-weight: 400;
}

.subText {
  font-style: 1vmin;
  font-weight: lighter;
}

.imageContainer {
  width: 50%;
  margin-right: 1vmin;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-bottom: 1vmin;
  font-size: 2vmin;
  font-weight: 400;
  text-align: left;
}

.cardImage {
  width: 100%;
}
